body {
  margin: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.top-menu {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.menu-container {
  display: none;
}

.chat-window {
  height: calc(100vh - 250px);
  overflow-y: scroll;
  padding: 20px;
}

.message {
  margin-bottom: 10px;
}

.sent {   background-color: #B2EBF2;   border-radius: 5px;   text-align: right; }  .received {   background-color: #E0E0E0;   border-radius: 5px;   text-align: left; }  .meta {   font-size: 12px;   color: #555;   margin-top: 10px;   text-align: right; }  .message-input-container {   display: flex;   justify-content: space-between;   align-items: center;   background-color: #f1f1f1;   padding: 20px; }
#message-input {
  flex: 1;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-size: 16px;
}

#send-btn {
  width: 100px;
  height: 40px;
  background-color: #4CAF50;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}.popup {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  display: none;
}
