/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
.menu-close {
  position: relative;
  background-color: #adabab;
  border-radius: 4px;
  border: 1px solid #8a8a8a;
}
.floating-menu-container {
  position: fixed;
  float: right;
  top: 10px;
  right: 10px;
  background-color: #e9dada;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px;
  z-index: 100099;
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  transition: opacity 0.4s ease, visibility 0.3s ease;
}

.menu-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  color: #356d9b;
  transition: color 0.3s ease;
}

.menu-toggle:hover {
  color: #2f91ec;
}

.floating-menu-container .menu-content-body {
  display: none; /* 初始隐藏 */
  flex-direction: column;
  align-items: flex-end;
}
#menu-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
  position: relative; /* 确保菜单容器是定位上下文 */
}
.menu-item {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: #333333;
  display: block;
  margin-bottom: 1px;
  padding: 8px 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
  字体大小：14 px；

}

.menu-item：悬停 {
  背景颜色：#e0e0e0；
}

。弹出窗口{
  显示：无；/* 初始隐藏 */
  位置：绝对；
  z 索引：100099；
  背景颜色：白色；
  边框：1 px 实线#ccc；
  盒子阴影：0  2 px  10 px  rgba ( 0 , 0 , 0 , 0.1 ) ;
  内边距：10像素；
  宽度：200像素；/* 弹出内容的宽度 */
  框大小：边框框；
}

.popup.active {
  显示：块；/* 显示弹出页面 */
}

/* 展开动画 */
@keyframes菜单展开{
  0 %  {
    不透明度：0；
    可见性：隐藏；
  }
  100 %  {
    不透明度：1；
    可见性：可见；
  }
}

/* 当菜单展开时应用的样式 */
.floating-menu-container.expanded {
    背景颜色：#a39f9f；
  动画：menuExpand  0.3 s 向前缓入 缓出；
}

.floating-menu-container.expanded .menu-content-body {
  显示：柔性；/* 展开时显示菜单内容 */
  背景颜色：rgb （224、226、226 ）；​​​
}
{
  显示：柔性；/* 展开时显示菜单内容 */  
  z 索引：100099；
  背景颜色：rgb （104、153、102 ）；​​​
  边框：1 px 实线#ccc；
  盒子阴影：0  2 px  10 px  rgba ( 0 , 0 , 0 , 0.1 ) ;
  内边距：100像素；
  宽度：20像素；
  高度：20像素；/* 弹出内容的宽度 */
  框大小：边框框；
}
